/* @import "./base.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0 auto;
  padding: 0 auto;
  font-weight: normal;
  width: 100%;
  background-color: #f9f5f0;
  font-family: "Playfair";
}

/* Tambahan global CSS, taruh di App.vue atau global.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Playfair";
}

@font-face {
  font-family: "PlayfairDisplay";
  font-style: normal;
  font-weight: 100 900;
  src: url("fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay";
  font-style: italic;
  font-weight: 100 900;
  src: url("fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(90deg, #1e293b, #000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
